/* Bakgrunn */
#background {
    -fx-background-color: darkgreen;
}

/* Sentrer spiller-HBox */
#players {
    -fx-alignment: center;
}

/* Spillere */
#player1, #player2, #player3, #player4, #player5 {
    -fx-pref-width: 220;
    -fx-pref-height: 250;
    -fx-border-color: #800020;
    -fx-border-width: 3;
    -fx-background-color: rgba(255,255,255,0.1);
}

/* Dealer */
#dealer {
    -fx-pref-width: 220;
    -fx-pref-height: 250;
    -fx-border-color: #800020;
    -fx-border-width: 3;
    -fx-background-color: rgba(255,255,255,0.1);
}

/* Labels i spillere og dealer */
#player1 > .label,
#player2 > .label,
#player3 > .label,
#player4 > .label,
#player5 > .label,
#dealer > .label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Betting-sirkler */
#betCircle1, #betCircle2, #betCircle3, #betCircle4, #betCircle5 {
    -fx-fill: rgba(243, 215, 31, 0.768);
    -fx-stroke: #800020; 
    -fx-stroke-width: 2;
    -fx-translate-y: -45;
    -fx-translate-x: 105;
}

/* Knapper styling */
#hitButton, #standButton, #splitButton, #addPlayerButton2, #depositButton1, #addPlayerButton1, #depositButton2 {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #800020; 
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#addPlayerBox {
    -fx-translate-y: 50;
    -fx-translate-x: 1200;
     -fx-stroke: #800020; 
}

#depositBox {
    -fx-translate-y: 200;
    -fx-translate-x: 1200;
    -fx-stroke: #800020; 
}